@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body {
  background: #f5f7fc;
  text-align: center;
  min-height: 100vh;
  font-family: "Roboto", serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
}

header ul {
  display: flex;
  justify-content: end;
}
a {
  color: black;
}
li {
  margin: 10px;
}
p {
  font-size: 19px;
}
h1 {
  margin: 20px;
}
/* main ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
} */
main ul li {
  margin-top: 10px;
  font-size: 18px;
}
#benefits {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(400px, 600px));
  gap: 2rem;
  margin: 3rem;
  align-items: center;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.benefit-item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.benefit-item p {
  font-size: 30px;
}

#stonks-image {
  width: 398px;
  height: 749px;
  display: flex;
  justify-content: center;
}
.conclusion {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: 30px 0;
  padding: 20px;
}
.invest-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  margin: 3rem 2rem;
}
.invest-card h2 {
  color: #343c6a;
  margin-right: 100px;
}
.banks li {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 97px;
  height: 53px;
  /* height: 54px; */
}

.banks ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
.invested {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
.amountBlock {
  border-radius: 9px;
  border: 1px solid #c8cbdc;
  padding: 5px 5px;
}
.amountInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#amount {
  border-radius: 10px;
  padding: 5px 5px;
  border: none;
  color: #1a16f3;
  font-weight: bolder;
}
.placeholderIcon {
  padding: 0px 5px;
  color: #c8cbdc;
}
.selectCurrency {
  border-radius: 9px;
  border: 1px solid #c8cbdc;
  padding: 5px 5px;
  width: 10vw;
}
#currenciesList {
  border: none;
  padding: 5px;
  color: #1a16f3;
  font-weight: bolder;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
#currenciesList option {
  color: #1a16f3;
  cursor: pointer;
  font-weight: bold;
}
.placeholderText {
  font-size: 12px;
  text-align: left;
  color: #c8cbdc;
}

.selectTerm {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 97%;
  border-radius: 9px;
  border: 1px solid #c8cbdc;
  padding: 5px 5px;
  margin: 10px;
}
.monthSlider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: end;
  align-items: start;
}
.monthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #1a16f3;
  border-radius: 50%;
  cursor: pointer;
}
.monthIndicator {
  color: #1a16f3;
  font-weight: bolder;
  padding: 2px;
}
.months {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.period {
  color: #718ebf;
  font-size: small;
}
.conditions {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  flex-direction: column;
  height: 250px;
  width: 100%;
}
.investedBlock {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.placeholderBlue {
  font-size: 12px;
  text-align: left;
  color: #718ebf;
  margin: 15px 0px 0px 0px;
  font-weight: bold;
}
.enteredData {
  color: #1a16f3;
  font-weight: bold;
}
.checkboxes {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #c8cbdc;
  border-radius: 10px;
  margin: 0px 10px;
}
.taxesCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
  width: 15vw;
}
.interestCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
  width: 17vw;
}
.taxesCheckboxText {
  font-size: 15px;
  font-family: sans-serif;
  color: #1a16f3;
  font-weight: bold;
}
.interestCheckboxText {
  font-size: 15px;
  font-family: sans-serif;
  color: #1a16f3;
  font-weight: bold;
}
#taxesCheckbox {
  appearance: none;
  width: 13px;
  height: 13px;
  border: 2px solid #1a16f3;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
#taxesCheckbox:checked {
  background-color: #1a16f3;
  border-color: #1a16f3;
}
#taxesCheckbox:checked::after {
  content: "";
  background-color: #1a16f3;
}
#interestCheckbox {
  appearance: none;
  width: 13px;
  height: 13px;
  border: 2px solid #1a16f3;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
#interestCheckbox:checked {
  background-color: #1a16f3;
  border-color: #1a16f3;
}
#interestCheckbox:checked::after {
  content: "";
  background-color: #1a16f3;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 70px;
  background: #2c2c54;
}
.footer a {
  color: white;
}
.apps {
  height: 40px;
}
.footer div {
  display: flex;
  align-items: center;
  margin: 20px;
}

/* ERRORS */

.window {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #f31616;
  z-index: 1000;
  width: 20vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  color: #2c2c54;
  transform: translateY(-100%);
  opacity: 0;
}
@media all and (max-width: 1600px) {
  .invest-card {
    margin: 0 auto;
    grid-template-columns:minmax(600px, 1000px);
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;
  }
  canvas {
    max-width: 950px;
  }
}
@media all and (max-width: 950px) {
  #benefits {
    grid-template-columns: minmax(100px, 300px);
    grid-template-rows: repeat(auto-fit, 1fr);
  }
  .invest-card {
    margin: 0 auto;
    grid-template-columns: minmax(300px,600px);
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;
  }
  canvas{
    max-height: fit-content;
  }
  #stonks-image{
    width: 549px;
  }
}
@media all and (max-width:800px){
  #taxesCheckbox, #interestCheckbox{
    min-width: 10px;
  }
}
